.stepTab {
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid blue;
}

.initialized {
    color: gray;
}

.success {
    color: green;
}

.failure {
    color: red;
}
